.home-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.74)) , url('/public/img/bg/bg.jpg');
    background-size: cover;
    color: white;
}

.greet {
    font-family: 'Verdana';
    font-size: 7vh;
    text-transform: uppercase;
    font-weight: bold;
}